html {
    height: 100%;
    font-family: 'Roboto', cursive;
    font-size: 20px;
}

p {
    margin: 1%;
}

body {
    background: rgb(0,255,0);
    background: linear-gradient(180deg, rgba(0,255,0,1) 0%, rgba(75,255,125,1) 50%, rgba(100,255,150,1) 100%);
}

header {
    background-color: rgb(70, 200, 130);
    padding: 0.1%;
    text-align: center;
    font-family: 'Share', cursive;
    font-size: 50px;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009955;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Share', cursive;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #005511;
    color: white;
    text-decoration: none;
}
   
li a.active {
    background-color: #007733;
    color: white;
}
   
li a:hover:not(.active) {
    background-color: #006600;
    color: white;
}

article {
    float: left;
    padding: 30px;
    width: 70%;
    background-color: #00aa55;
}
  
section:after {
    content: "";
    display: table;
    clear: both;
}
  
footer {
    background-color: rgb(70, 200, 130);
    padding: 10px;
    text-align: center;
    font-family: 'Share' , cursive;
    font-style: italic;
    color: white;

}
  
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}