html {
    height: 100%;
    font-family: 'Kufam', cursive;
    font-size: 20px;
}

p {
    margin: 1%;
}

p.name {
    margin: 1%;
    font-size: 34px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

body {
    background: rgb(0,0,0);
    background: repeating-linear-gradient(180deg, #4444ff 0%, #aaaaff 50%, #4444ff 100%);
}

header {
    background-color: #2222ff;
    padding: 0.1%;
    text-align: center;
    font-family: 'Share', cursive;
    font-size: 50px;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7f7fff;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Share', cursive;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5555ff;
    color: white;
    text-decoration: none;
}
   
li a.active {
    background-color: #4444ff;
    color: white;
}
   
li a:hover:not(.active) {
    background-color: #2222ff;
    color: white;
}

article {
    float: left;
    padding: 2%;
    width: 96%;
    background-color: #7777ff;
}
  
article.left {
    float: left;
    padding: 2%;
    width: 46%;
    background-color: #6666ff;
}

article.right {
    float: left;
    padding: 2%;
    width: 46%;
    background-color: #8888ff;
}

section:after {
    content: "";
    display: table;
    clear: both;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 340px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.5s;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

form {
    margin: 2.5%;
}
   
input {
    font-family: Verdana;
}
   
textarea {
    font-family: Verdana;
}   

fieldset {
    width: 80%;
    border: double;
    border-color: #000000;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}

legend {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

footer {
    background-color: #3333ff;
    padding: 0.5%;
    text-align: center;
    font-family: 'Share' , cursive;
    font-style: italic;
    color: white;

}
  
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}